.userInfo--details {
    background: #1f6c71;
    margin: 10px;
    margin-top: 6%;
    color: #fff;
    height: 50vh;
    display: flex;

    flex-direction: column
}

.userInfo--selectAnyPost {

    background: #1f6c71;
    margin: 10px;
    margin-top: 6%;
    color: #fff;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center
}