body {
    font-family: sans-serif;
  }
  
  input {
    transition: .5s all;
    border-radius: 20px;
    outline: none;
    border: 1px solid #999;
    padding: 0.5rem;
    width: 90%;
    margin-top: 10px;
    }

  @media only screen and (max-width: 767px) {
    input {
      margin-right: 10px;
      max-width: calc(300px + 1rem);
    }
  }