
.user-idText {
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 10px auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    color: #1f6c71;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 26px;
}

.user-info-title, .user-info-body {
    display: flex;
    margin: 10px;
    font-size: 20px;
    width:100%;
    text-align: left;
}
.user-title, .user-body{
    font-weight: bold;
    flex:1;
}

.user-titleText{
    font-size: 16px;
    flex:13;
    text-align: left
}

.user-bodyText{
    font-size: 16px;
    margin-left: 14px;
    flex:13
}